[Desktop Entry]
Type=Application
Name=Compasso
Comment=Adicionar tempo ou configurar o cliente Compasso
Exec=/usr/bin/tempo-local-bonus
Icon=br.com.compasso.Compasso
Terminal=false
Categories=Settings;System;
